In [1]:
from sqlalchemy import create_engine
import pandas as pd
import plotly.express as px

Datenquelle: https://www.rki.de/DE/Home/homepage_node.html

In [2]:
database = ""
username = ""
password = ""
host = ""

In [3]:
engine = create_engine(f'postgresql://{username}:{password}@{host}:5432/{database}')

Lesen Sie die Tabelle "corona_daten" aus der Datenbank ein. Benutzen Sie dafür die pd.read_sql_table() Funktion.

In [5]:
with engine.connect() as conn, conn.begin():  
    df = pd.read_sql_table("corona_daten", conn)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 396 non-null    int64
 1   IdLandkreis                           396 non-null    int64
 2   Landkreis                             396 non-null    object
 3   Datenstand                            396 non-null    datetime64[ns]
 4   AnzahlFall                            396 non-null    int64
 5   AnzahlTodesfall                       396 non-null    int64
 6   AnzahlGenesen                         396 non-null    int64
 7   bundesland                            396 non-null    int64
 8   gemeindeschluessel                    396 non-null    int64
 9   anzahl_meldebereiche                  396 non-null    int64
 10  faelle_covid_aktuell                  396 non-null    int64
 11  faelle_covid_aktuell_invasiv_beatmet  396 non-null    int64
 12  anzahl_standorte                      396 non-null    int64
 13  betten_frei                           396 non-null    int64
 14  betten_belegt                         396 non-null    int64
 15  daten_stand                           396 non-null    datetime64[ns]
 16  betten_belegt_nur_erwachsen           396 non-null    int64
 17  betten_frei_nur_erwachsen             396 non-null    int64
dtypes: datetime64[ns](2), int64(15), object(1)
memory usage: 55.8+ KB

Berechnen Sie die Todesrate pro Gemeinde und die ICU-Bettenauslastung (ICU = Intensiv-Care-Unit) und speichern Sie diese jeweils in einer neuen Spalte.

In [7]:
df['Todesrate'] = (df.AnzahlTodesfall / df.AnzahlFall) * 100
df['Auslastung'] = ((df.betten_belegt) / (df.betten_belegt+df.betten_frei)) * 100

In [8]:
df.head()

,index,IdLandkreis,Landkreis,Datenstand,AnzahlFall,AnzahlTodesfall,AnzahlGenesen,bundesland,gemeindeschluessel,anzahl_meldebereiche,faelle_covid_aktuell,faelle_covid_aktuell_invasiv_beatmet,anzahl_standorte,betten_frei,betten_belegt,daten_stand,betten_belegt_nur_erwachsen,betten_frei_nur_erwachsen,Todesrate,Auslastung
0,0,1001,SK Flensburg,2021-04-06,2047,39,1860,1,1001,3,3,3,2,6,35,2021-04-06,35,0,1.905227,85.365854
1,1,1002,SK Kiel,2021-04-06,4041,92,3723,1,1002,5,6,5,3,52,112,2021-04-06,111,47,2.276664,68.292683
2,2,1003,SK Lübeck,2021-04-06,4852,89,4534,1,1003,2,6,2,2,32,103,2021-04-06,103,32,1.834295,76.296296
3,3,1004,SK Neumünster,2021-04-06,1462,22,1309,1,1004,1,0,0,1,5,20,2021-04-06,20,5,1.504788,80.000000
4,4,1051,LK Dithmarschen,2021-04-06,1546,42,1426,1,1051,1,0,0,1,1,37,2021-04-06,37,1,2.716688,97.368421

Sortieren Sie Ihr DataFrame nach der Todesrate. Welche Gemeinde hatte an diesem Tag die höchste Todesrate? Benutzen Sie folgende Methode: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

In [9]:
df.sort_values(by=['Todesrate'],ascending=False)

,index,IdLandkreis,Landkreis,Datenstand,AnzahlFall,AnzahlTodesfall,AnzahlGenesen,bundesland,gemeindeschluessel,anzahl_meldebereiche,faelle_covid_aktuell,faelle_covid_aktuell_invasiv_beatmet,anzahl_standorte,betten_frei,betten_belegt,daten_stand,betten_belegt_nur_erwachsen,betten_frei_nur_erwachsen,Todesrate,Auslastung
353,353,14626,LK Görlitz,2021-04-06,16768,1007,14280,14,14626,7,18,10,6,16,50,2021-04-06,44,16,6.005487,75.757576
42,42,3360,LK Uelzen,2021-04-06,1751,104,1518,3,3360,2,2,2,2,10,66,2021-04-06,66,10,5.939463,86.842105
376,376,16054,SK Suhl,2021-04-06,1689,98,1483,16,16054,2,11,6,1,10,24,2021-04-06,19,5,5.802250,70.588235
281,281,9565,SK Schwabach,2021-04-06,1793,100,1606,9,9565,1,1,0,1,0,4,2021-04-06,4,0,5.577245,100.000000
20,20,3153,LK Goslar,2021-04-06,1941,106,1721,3,3153,3,3,2,3,5,28,2021-04-06,28,5,5.461103,84.848485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,58,3460,LK Vechta,2021-04-06,6700,80,6202,3,3460,5,6,3,3,8,24,2021-04-06,22,2,1.194030,75.000000
153,153,7211,SK Trier,2021-04-06,2112,22,1979,7,7211,6,6,4,3,27,59,2021-04-06,51,23,1.041667,68.604651
45,45,3402,SK Emden,2021-04-06,759,7,684,3,3402,1,2,1,1,3,16,2021-04-06,16,3,0.922266,84.210526
155,155,7232,LK Bitburg-Prüm,2021-04-06,2726,22,2429,7,7232,2,1,0,2,8,7,2021-04-06,7,8,0.807043,46.666667
167,167,7320,SK Zweibrücken,2021-04-06,545,4,518,7,7320,1,0,0,1,7,7,2021-04-06,7,7,0.733945,50.000000

Lassen Sie sich nun wie gewohnt eine Zusammenfassung der statistischen Kennzahlen ausgeben, was fällt auf?

In [10]:
df.describe() ## Höchste Todesrate weit über bundesweitem Durchschnitt und Bettenauslastung sehr Hoch (80%)
### Es gibt ebenfalls Landkreise mit Bettenauslastung von 100%

,index,IdLandkreis,AnzahlFall,AnzahlTodesfall,AnzahlGenesen,bundesland,gemeindeschluessel,anzahl_meldebereiche,faelle_covid_aktuell,faelle_covid_aktuell_invasiv_beatmet,anzahl_standorte,betten_frei,betten_belegt,betten_belegt_nur_erwachsen,betten_frei_nur_erwachsen,Todesrate,Auslastung
count,396.0000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000
mean,197.5000,8292.744949,6902.641414,185.171717,6170.724747,7.967172,8292.744949,4.098485,10.303030,5.585859,3.126263,10.580808,53.340909,48.823232,8.328283,2.799554,80.884700
std,114.4596,3781.966741,6727.124059,174.427964,5983.124120,3.823503,3781.966741,3.959657,12.578829,7.634379,2.766750,11.823428,69.245353,61.890709,9.118534,0.948429,12.988356
min,0.0000,1001.000000,545.000000,4.000000,518.000000,1.000000,1001.000000,1.000000,0.000000,0.000000,1.000000,0.000000,3.000000,3.000000,0.000000,0.733945,30.769231
25%,98.7500,5757.000000,3108.250000,87.000000,2836.250000,5.000000,5757.000000,2.000000,3.000000,1.000000,1.000000,3.000000,14.000000,14.000000,2.000000,2.146688,74.160079
50%,197.5000,8228.500000,5070.000000,138.000000,4457.000000,8.000000,8228.500000,3.000000,7.000000,3.000000,2.000000,7.000000,29.000000,27.000000,6.000000,2.679854,83.380952
75%,296.2500,9676.250000,8007.500000,219.250000,7140.000000,9.000000,9676.250000,5.000000,13.000000,7.000000,4.000000,14.000000,60.000000,57.000000,11.000000,3.419404,89.033918
max,395.0000,16077.000000,63203.000000,1398.000000,54508.000000,16.000000,16077.000000,36.000000,100.000000,63.000000,25.000000,118.000000,553.000000,488.000000,75.000000,6.005487,100.000000

Sie bekommen die Aufgabe alle Landkreise mit kritischer Bettenauslastung herauszufiltern. Als kritischer Wert werden alle Kreise, die eine Auslastung von über 90% erreicht haben festgelegt. Filtern Sie das bestehende Dataset um die Stadt/Landkresie herauszufinden. Hinweis: Nutzen Sie dafür die .loc-Methode

In [11]:
df.loc[df['Auslastung'] >= 90,:]

,index,IdLandkreis,Landkreis,Datenstand,AnzahlFall,AnzahlTodesfall,AnzahlGenesen,bundesland,gemeindeschluessel,anzahl_meldebereiche,faelle_covid_aktuell,faelle_covid_aktuell_invasiv_beatmet,anzahl_standorte,betten_frei,betten_belegt,daten_stand,betten_belegt_nur_erwachsen,betten_frei_nur_erwachsen,Todesrate,Auslastung
4,4,1051,LK Dithmarschen,2021-04-06,1546,42,1426,1,1051,1,0,0,1,1,37,2021-04-06,37,1,2.716688,97.368421
18,18,3103,SK Wolfsburg,2021-04-06,2626,73,2292,3,3103,3,7,2,1,2,33,2021-04-06,26,0,2.779893,94.285714
19,19,3151,LK Gifhorn,2021-04-06,4667,167,3963,3,3151,1,6,1,1,0,12,2021-04-06,12,0,3.578316,100.000000
32,32,3257,LK Schaumburg,2021-04-06,3633,55,3282,3,3257,1,5,0,1,0,24,2021-04-06,24,0,1.513900,100.000000
33,33,3351,LK Celle,2021-04-06,3623,55,3244,3,3351,2,9,6,1,1,31,2021-04-06,23,0,1.518079,96.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,387,16069,LK Hildburghausen,2021-04-06,4301,216,3924,16,16069,1,1,1,1,0,5,2021-04-06,5,0,5.022088,100.000000
392,392,16074,LK Saale-Holzland-Kreis,2021-04-06,3611,87,3202,16,16074,1,1,1,1,0,5,2021-04-06,5,0,2.409305,100.000000
393,393,16075,LK Saale-Orla-Kreis,2021-04-06,4944,120,4299,16,16075,1,4,4,1,0,5,2021-04-06,5,0,2.427184,100.000000
394,394,16076,LK Greiz,2021-04-06,6004,137,4181,16,16076,1,6,6,1,1,9,2021-04-06,9,1,2.281812,90.000000
395,395,16077,LK Altenburger Land,2021-04-06,5665,234,4677,16,16077,2,8,4,1,0,29,2021-04-06,28,0,4.130627,100.000000

In [12]:
len(df.loc[df['Auslastung'] >= 90,:]) ## Insgesamt 94 Landkreise mit kritischer Bettenauslastung

94