In [1]:
import pandas as pd
import numpy as np

1. Erstellen Sie eine Liste mit fortlaufenden Nummern von 1-5.
2. Fügen Sie dieser Liste eine weitere Nummer hinzu.
3. Lassen Sie sich min, mean und max ausgeben (Tipp: Muss vorher konvertiert werden)

In [4]:
new_list = [1,2,3,4,5]
new_list.append(6)

In [5]:
np.array(new_list).mean()

3.5

Erstellen Sie nun ebenfalls eine Liste mit Namen von Früchten. Die Liste sollte die gleiche Länge haben wie Ihre vorherige Liste.

In [7]:
len(new_list)

6

In [8]:
fruit_array = ["banane","Apfel","Birne","Kiwi","Pfirsich","Traube"]

Weisen Sie die Liste einem Dictionary mit dem Namen Fruits zu.

In [10]:
new_dict = {
    "fruites" : fruit_array,
    "id": new_list
}

Erstellen Sie aus dem Dictionary ein pandas-DataFrame und lassen Sie sich die ersten zwei Zeilen mit dem .head()-Befehl ausgeben.

In [25]:
df = pd.DataFrame(new_dict)

In [13]:
df

     fruits  id
0    banane   1
1     Apfel   2
2     Birne   3
3      Kiwi   4
4  Pfirsich   5
5    Traube   6

Fügen Sie das unten stehende Dictionary zu Ihrem Dataframe hinzu

In [22]:
fruites2 = {
    "id": 7,
    "fruites": "pineapple"
}

In [26]:
df = df.append(pd.Series(fruites2),ignore_index=True)

In [27]:
df

      fruits  id
0     banane   1
1      Apfel   2
2      Birne   3
3       Kiwi   4
4   Pfirsich   5
5     Traube   6
6  pineapple   7

Geben Sie die zweite und dritte Zeile mit dem .iloc()-Befehl aus.

In [31]:
df.iloc[1:3]

  fruits  id
1  Apfel   2
2  Birne   3

Fügen Sie eine weiter Spalte mit der Bezeichnung "Kategorie" zu dem DataFrame hinzu und vergeben Sie für alle bisherigen Zeilen eine passende Kategorie.

In [33]:
df['Kategorie'] = "Obst"

In [34]:
df

      fruits  id Kategorie
0     banane   1      Obst
1      Apfel   2      Obst
2      Birne   3      Obst
3       Kiwi   4      Obst
4   Pfirsich   5      Obst
5     Traube   6      Obst
6  pineapple   7      Obst

Überprüfen Sie Ihre Eingabe, indem Sie sich mit dem .loc()-Befehl die Spalte Kategorie für alle Zeilen ausgeben lassen

In [37]:
df.loc[:,['Kategorie']]

  Kategorie
0      Obst
1      Obst
2      Obst
3      Obst
4      Obst
5      Obst
6      Obst

Wandeln Sie abschließend alle strings von Früchten in Großbustaben um. Benutzen Sie hierfür eine in Python-implementierte Funktion.

In [40]:
df.fruites = df.fruites.apply(lambda x:x.upper())

In [41]:
df.fruites

0       BANANE
1        APFEL
2        BIRNE
3         KIWI
4     PFIRSICH
5       TRAUBE
6    PINEAPPLE
Name: fruits, dtype: object

In [44]:
df.fruites[0] = np.NaN

<ipython-input-44-43db0dc57f8e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fruits[0] = np.NaN

In [46]:
df.fruites.isna()

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: fruits, dtype: bool